// Font Size
$font-size-xxl: rem(32);
$font-size-xl: rem(24);
$font-size-l: rem(18);
$font-size: rem(16);
$font-size-s: rem(13);
$font-size-xs: rem(10);
$font-size-xxs: rem(9);

$primary: #ee6c4d;
$secondary: #3d5a80;
$dark: #293241;
$on-dark: #98c1d9;
$light: #e0fbfc;
$white: #ffffff;
