// Font Size
$font-size-xxxl: rem(42);
$font-size-xxl: rem(32);
$font-size-xl: rem(24);
$font-size-l: rem(18);
$font-size: rem(16);
$font-size-s: rem(14);
$font-size-xs: rem(10);
$font-size-xxs: rem(9);

$white: #FFFFFF;
$primary: #FEDBCF;
$primary-accent: #FDB8AB;
$secondary: #F0CAC0;
$dark: #55433C;
$light: #FEEFE8;
$white: #ffffff;

$text-primary: $dark;
$text-light: #A79087;
$text-error: #f87055;
