.input-field {
    position: relative;

    input {
        width: 100%;
        padding: rem(5);
        border: none;
        outline: none;
        border-bottom: rem(2) solid #8b8b8b;
    }

    input:valid,
    input:focus {
        border-color: #FC6565;
        & ~ label {
            font-size: $font-size-s;
            top: 0;
            transform: translateY(-60%);
            color: #FC6565;
            font-weight: 400;
        }
    }   

    label {
        position: absolute;
        color: #7c7c7c;
        left: rem(5);
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease-in;
        cursor: text;
    }
}

.input-with-icon {
    border: none;
    display: flex;
    align-items: center;
    background-color: $light;
    border-bottom: rem(2) solid $primary-accent;
    
    &:focus-within {
        border: rem(2) solid $primary-accent;
    }

    .input-icon {
        color: $text-light;
        margin-left: rem(10);
        font-size: rem(18);
    }

    input {
        height: 100%;
        width: 100%;
        padding: rem(10);
        border: none;
        outline: none;
        background-color: $light;
        color: $text-primary;
    }

    input::focus {
        border: none;
        outline: none;
    }

    input::placeholder {
        color: $text-light;
    }

}

.form-text-field {
    background-color: $light;

    label {
        color: $text-primary;
    }
}