.pdf-view {
    border: 2px solid $primary;
}

.pdf-viewer-page-nav {
    p {
        text-align: center;
        margin-bottom: rem(10);
    }

    button {
        min-width: rem(10);
        height: rem(36);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        display: inline-block;

        [data-icon] {
            width: rem(50);
            height: rem(37);
            transform: scale(0.8);
        }
    }
}

.pdf-spinner {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: rem(150);
    }

    .ball {
        width: rem(25);
        height: rem(25);
    }
}