.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(20);
    h1 {
        margin-top: rem(30);
        margin-bottom: rem(40);
        font-weight: 500;
        color: $text-primary;
    }

    form {
        padding-left: rem(20);
        padding-right: rem(20);

        .input-with-icon:first-of-type,
        button:first-of-type {
            margin-bottom: rem(20);
        }

        .input-with-icon:last-of-type {
            margin-bottom: rem(50);
        }
    }

    .response-msg {
        color: $text-primary;
        font-size: $font-size-s;
        font-weight: 450;
        text-align: center;
        margin-top: rem(5);

        &.error-msg {
            color: $text-error;
        }
    }
}