.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: rem(30);
        margin-bottom: rem(40);
    }

    input {
        display: block;
        padding: rem(5);
        width: rem(350);
        min-width: rem(350);
        margin-bottom: rem(20);
    }
}