.request-access-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: rem(30);
        margin-bottom: rem(40);
        font-weight: 500;
        color: $text-primary;
    }

    form {
        padding-left: rem(20);
        padding-right: rem(20);

        .input-with-icon:not(:last-of-type),
        button:first-of-type {
            margin-bottom: rem(20);
        }

        .input-with-icon:last-of-type {
            margin-bottom: rem(50);
        }
    }

    .response-msg {
        color: $text-primary;
        font-size: $font-size-s;
        font-weight: 450;
        text-align: center;
        margin-top: rem(5);

        &.error-msg {
            color: $text-error;
        }

        .tool-tip {
            position: relative;
            cursor: pointer;

            &::before {
                visibility: hidden;
                position: absolute;
                content: attr(data-text);
                background: #595857;
                color: white;
                width: rem(300);
                font-size: 0.85em;
                text-align: left;
                border-radius: 0.5em;
                padding: rem(4);
                transform: translate(-98%, -95%);
                font-weight: 400;
                opacity: 0.95;
            }

            &:hover::before {
                visibility: visible;
            }
        }
    }
}