@mixin shadow {
    box-shadow: rem(5) rem(5) 10px rgba(0, 0, 0, 0.25);
}

.user-entry-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $light;
}

.logo {
    margin-top: rem(150);
    width: rem(190);
    height: rem(144);
    margin-bottom: rem(50);

    @include media("height<1000px") {
        margin-top: rem(20);
    }
    
}

.user-entry-container {
    width: rem(500);
    height: rem(500);
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 2;
    position: relative;

    .foreground-drop {
        @include shadow;
        width: inherit;
        height: inherit;
        background-color: $white;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        padding: rem(15);
    }

    .background-drop {
        position: absolute;
        background-color: $primary;
        width: inherit;
        height: inherit;
        z-index: 1;
        left: rem(16);
        top: rem(14);
        @include shadow;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: baseline;

        .button-wrapper {
            width: 50%;
            text-align: center;
        }

        button {
            border: none;
            background-color: transparent;
            padding-left: rem(5);
            padding-right: rem(5);
            font-weight: 300;
            font-size: rem(18);
        }

        button:hover,
        button.active {
            font-weight: 600;
            color: #6565FC;
            border-bottom: rem(1) solid #6565FC;
        }
    }

    .spinner {
        top: 45%;
        left: 40%;
    }

    @include media("height<850px") {
        width: rem(450);
        height: rem(450);
    }

    @include media("<670px") {

        button {
            min-width: none;
            width: 100%;
        }
        
        .foreground-drop, 
        .background-drop {
            width: 100%;
            height: unset;
            box-shadow: none;
        }

    }

    @include media("<mobile") {
        width: 100%;
        height: 50%;
        .foreground-drop, 
        .background-drop {
            width: unset;
            height: unset;
            box-shadow: none;
        }
    }

    

}

.user-entry-content {
    padding: rem(10);
    height: 100%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    .user-entry-wrapper {
        height: 100vh;
        width: 100%;
        display: block;
    }

    .user-entry-container {
        width: 100%;
    }

}