.user-entry-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(207,110,162,0.8323704481792717) 5%, rgba(252,101,101,1) 100%);
}

.user-entry-container {
    width: rem(500);
    height: rem(500);
    border: rem(1) solid #cfcfcf;
    border-radius: 5px;
    padding: rem(15);
    background-color: #ffffff;
    position: relative;

    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: baseline;

        .button-wrapper {
            width: 50%;
            text-align: center;
        }

        button {
            border: none;
            background-color: transparent;
            padding-left: rem(5);
            padding-right: rem(5);
            font-weight: 300;
            font-size: rem(18);
        }

        button:hover,
        button.active {
            font-weight: 600;
            color: #6565FC;
            border-bottom: rem(1) solid #6565FC;
        }
    }

    .spinner {
        top: 45%;
        left: 40%;
    }
}

.user-entry-content {
    padding: rem(10);
    height: 100%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    .user-entry-wrapper {
        height: 100vh;
        width: 100%;
        display: block;
    }

    .user-entry-container {
        width: 100%;
    }

}